# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
* @etainkiely

# Website core files
*.html @etainkiely
*.css @etainkiely
*.js @etainkiely

# Fraction Action specific files
/fraction-action.html @etainkiely

